*{

    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header styles */
header{


  background-color: bisque;  
  
  padding:50px 240px ;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{

  display: flex;
  
    
}
nav li {


    list-style: none;
    margin-right: 30px;
    font-weight:500 ;
    font-size: 1 rem;
    
}
nav a{

    text-decoration: none;
    color: black;
}

.nav-titel{

    font-size:3rem;
    font-weight:700;


}


/* banner styles */
.banner-content{

max-width: 800px;
text-align: center;
margin: 0 auto;

}
.banner-titel{

   font-size: 4rem; 
   font-weight:700;
}

.button-primary{

border-radius: 8px;
background-color: rgb(232, 121, 42);
margin: ;
padding: 20px 25px;
border: 0;
font-size: 20px;
color: aliceblue;
font-weight: 600 ;
cursor: pointer;


}
.banner img{

    width: 100%;
    margin-top: 30px;
}

/* responsive media queries */
/* mobile devices */

@media screen  and (max-width: 576px)
{
header{

    padding: 20px;
}
nav {

    flex-direction: column;
}
}
/* mediu devices */
@media screen  and (min-width:576) and (max-width:960){

    nav {

        flex-direction: column;
    } 
    header{

        padding: 50px;
    } 



}



    
